.navbarHover:hover{
    background-color: #27303a;
}
.navbarClik:active{
    background-color: #0D6EFD;
    color: white;
}
.navbarStyle{

    background: #0D1721;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
}
