.boxStyle1 {
    margin-left: 0;
    margin-right: 0;
}
.boxStyle2 {
    margin-left: 0;
    margin-right: 0;
}
.boxStyle3 {
    margin-left: 0;
    margin-right: 0;
}
.imgProfile {
    width: 100%;
}